* {
    box-sizing: border-box;
  }
  
  body {
    /* viewport units: vh (viewport/page height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    background-color: paleturquoise;

  }
  
  header {
    font-size: 4vmin;
    color: gray;
    letter-spacing: 1vmin;
  }
  
  h1 {
    color: grey;
    font-size: 3vmin;  /* added */
  }
  
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3,20vmin);
    margin-top: -1vmin;  /* added */
  }
  
  #board > div {
    border-radius: 5%;
    border: 0.1vmin solid gainsboro;
  }
  
  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color: grey;
  }
  
  button:hover {
    background-color: darkgrey;
    color: white;
  }